@charset "utf-8";

.section01{position:relative;height:100vh;background-color:#353f55}
.section01 .cover{position:relative;float:right;height:100%;width:54%;background:url(../img/bg-about01.jpg) no-repeat 50% 50%;background-size:cover;}
.section01 h1{position:absolute;top:50%;margin:0 0 0 -333px;transform:translateY(-50%); ;color:#fff;line-height: 1;text-align:right;letter-spacing:3px;}
.section01 h1 .txt_sub{display:block;margin-bottom:5px;font-size:54px;}
.section01 h1 .txt_main{display:block;font-size:66px;text-transform: uppercase;}
.section02{min-height:850px;}
