@charset "utf-8";

@font-face{
	font-family:"hallo sans";
	font-weight:300;
	src:url('../fonts/Hallo sans light.eot');
	src:url('../fonts/Hallo sans light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Hallo sans light.woff') format('woff'),
	url('../fonts/Hallo sans light.ttf') format('truetype');
	src:local(※), url('../fonts/Hallo sans light.woff') format('woff');
}
@font-face{
	font-family:"hallo sans";
	font-weight:400;
	src:url('../fonts/Hallo sans.eot');
	src:url('../fonts/Hallo sans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Hallo sans.woff') format('woff'),
	url('../fonts/Hallo sans.ttf') format('truetype');
	src:local(※), url('../fonts/Hallo sans.woff') format('woff');
}
@font-face{
	font-family:"hallo sans";
	font-weight:700;
	src:url('../fonts/Hallo sans black.eot');
	src:url('../fonts/Hallo sans black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Hallo sans black.woff') format('woff'),
	url('../fonts/Hallo sans black.ttf') format('truetype');
	src:local(※), url('../fonts/Hallo sans black.woff') format('woff');
} 

body{line-height:1.5em;font-family:'hallo sans', Helvetica, Arial, sans-serif;word-break:keep-all;color:#666}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, button,textarea{margin:0;padding:0;font-size:14px;box-sizing:border-box;}
h1, h2, h3, h4, h5, h6{font-family:'Old Standard TT';line-height:normal;font-weight:normal}
ul, ol, li{list-style:none}
hr{position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
fieldset{border:none}
a{text-decoration:none;color:#666;box-sizing:border-box;}
a:hover, a:active, a:visited{text-decoration:none;color:#666}
img{border:0;vertical-align:top}
button,input,select,textarea{vertical-align:middle;font-family:inherit;box-sizing:border-box;}
button{border:0;background-color:transparent;cursor:pointer;text-align:left;color:#666}
input[type=text],input[type=password],select,textarea{border:1px solid #ccc}
select{height:32px}
input[type=text],input[type=password]{height:30px;padding-left:5px;line-height:30px}
textarea{resize:none}
em,address{font-style:normal}
table{width:100%;table-layout:fixed;word-wrap:break-word;border-collapse:collapse}
label{vertical-align:middle;cursor:pointer}
strong{font-weight:600;color:#444}
sup{font-size:10px}
mark{background-color:#fff}